fastapi
pydantic
tree_sitter
openai
git+https://github.com/coder3101/tree-sitter-proto
betterproto
uvicorn[standard]
stable_audio_tools
transformers
diffusers
betterproto[compiler]
sqlite3
git+https://github.com/xhinker/sd_embed.git@main
optimum-quanto